body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

/* Your code here */

header {
    background-color: lightskyblue;
    padding: 40px;
}

header h1 {
    padding-left: 38%;
}

header p {
    padding-left: 13%;
}

main {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 60px;
    padding-left: 30px;
    gap: 20px;
}

section {
    display: inline-block;
    border: solid 2px;
    border-color: black;
    background-color: lightskyblue;
}

img {
    width: 100%;
}

section p {
    padding-left: 23%;
}