body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

/* Your code here */

header {
    background-color: lightskyblue;
    padding: 40px;
}

main {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 40px;
    gap: 20px;
}

section {
    display: inline-block;
    border: solid 2px;
    border-color: black;
}