body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    align-items: center; /*center on secondary axis */
    justify-content: center; /*center on main axis */
    gap: 10px;
}

section {
    border: solid 4px orangered;
    width: 200px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    main {
        flex: column;
    }
}