@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


/* 3.1 Body */
* {
    box-sizing: border-box;
}
body {
    background-color: #F0F4EF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* 3.2 Header + nav */
header {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    height: 10vh;
    padding: 0 10vw;
    justify-content: center;
}
header h1 {
    color: white;
    font-size: 1.2em;
    margin: 0;
}
header nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
/* 3.3 Custom font */
h2 {
   font-family: "Tangerine", cursive;
   font-style: normal; 
}
/* 3.4 Main */
main {
    padding: 0 10vw;
}
/* 3.5 Gallery layout */
.photo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}
/* 3.6 Card styling */
.card {
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px;
}
.card img {
    width: 5px 0;
    display: block;
}
/* 3.7 Footer */
footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
/* 3.8 Media queries */
@media (max-width: 700px) {
    main {
        padding: 0 5vw;
    }
    .photo-container {
        grid-template-columns: 1fr;
    }
}